<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Article Route Detail
  body
    .article-detail
      h1(style="text-align:center;").article-detail__title #{article.title}
      span.article-detail__content #{article.content}
